.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    width: 350px;
    margin: 20vh auto;
    padding: 25px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rl-form{
    margin: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

form input{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form button{
    padding: 5px 15px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.form-container a{
    color: #ddd;
    text-decoration: none;
    cursor: pointer;
}
.form-container a:hover{
    color: #000;
}
.form-container a:visited{
    color: #ddd;
}
.form-container a:visited:hover{
    color: #000;
}